

.baground {
  /* background-image: url("../../img/charmander.gif");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position:center;
 margin-bottom: 0; */

  /* background-color: black; */
  background-image: url("../../img/charmander.gif");
  min-height: 100%;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  top: 10;
  left: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

}

.letsGo{
  position: absolute;
  max-width: 600px;
  top: 75%;
  left: 61%;
  background-color: transparent;

  width: 25%;
  height: 70px;

  filter: drop-shadow(0px 3px 4px rgba(24, 121, 196));


}
.pokemon {
  position: absolute;
  max-width: 600px;
  top: 20%;
  left: 53%;
  background-color: transparent;

  width: 100px;
  height: 140px;
  width: 80%;
  filter: drop-shadow(0px 3px 4px rgb(24, 121, 196));
}

.button {
  position: absolute;
  top: 50%;
  left: 70%;

  color: #003049;
  margin-bottom: 35px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 50%;

  background-image: url("../../img/pokeballfinal.png");
  width: 100px;
  height: 100px;
  background-size: cover;
  filter: drop-shadow(0px 3px 4px rgba(24, 121, 196))
}

.button:hover {
  color: white;
  box-shadow: 0 10px 25px rgba(24, 121, 196);
}

.linkedin {
  position: absolute;
  top: 10%;
  left: 2%;
  max-height: 100px;
  background-color: transparent;
  border-radius: 100%;
  filter: drop-shadow(0px 3px 4px rgba(24, 121, 196))
}

.linkedin:hover {
  color: white;
  box-shadow: 0 15px 25px rgba(66, 182, 249, 0.6);
}

.github {
  position: absolute;
  top: 80%;
  left: 2%;
  max-height: 100px;
  background-color: transparent;
  border-radius: 100%;
  filter: drop-shadow(0px 3px 4px rgba(24, 121, 196))
}

.github:hover {
  color: white;
  box-shadow: 0 15px 25px rgba(69, 185, 248, 0.6);
}

.links {
  display: flex;
}
