@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
.nav {
  background-image: url("../../img/3.png");
  background-size: contain;
  height: 180px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.nav h3 {
  font-family: "Secular One";
  margin-top: 90px;
  color: rgb(247, 242, 240);
  text-decoration: none;
  filter: drop-shadow(0px 3px 4px rgb(234, 50, 50))
}

.botonPrincipal {
  position: relative;
  margin-bottom: 35px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 50%;
  background-image: url("../../img/pokeballfinal.png");
  width: 80px;
  height: 80px;
  background-size: cover;
  text-decoration: none;
  filter: drop-shadow(0px 3px 4px rgb(234, 50, 50))
}

.botonPrincipal:hover {
  color: white;
  box-shadow: 0 10px 25px rgba(222, 228, 232, 0.6);
}
.botonPage {
  position: relative;
  margin-bottom: 35px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 55%;
  background-image: url("../../img/pokebolas\ azul.jpg");
  width: 80px;
  height: 80px;
  background-size: cover;
  justify-content: space-around;
  text-decoration: none;
  filter: drop-shadow(0px 3px 4px rgb(234, 50, 50))
}
.botonPage:hover {
  color: white;
  box-shadow: 0 10px 25px rgba(226, 233, 237, 0.6);
}

.botonCreate {
   position: relative;
  top: 0;
  left: 1%;
  margin-bottom: 35px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 50%;
  background-image: url("../../img/pokebolas\ negra.jpg");
  width: 80px;
  height: 80px;
  background-size: cover;
  text-decoration: none;
  filter: drop-shadow(0px 3px 4px rgb(234, 50, 50))
}

.botonCreate:hover {
  color: white;
  box-shadow: 0 10px 25px rgba(218, 224, 227, 0.6);
}


.botonAbout{
  position: relative;
  top: 0;
  left: 1%;
  margin-bottom: 35px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 50%;
  background-image: url("../../img/pokebolaVioleta.jpg");
  width: 80px;
  height: 80px;
  background-size: cover;
  text-decoration: none;
  filter: drop-shadow(0px 3px 4px rgb(234, 50, 50))
}

.botonAbout:hover {
  color: white;
  box-shadow: 0 10px 25px rgb(218, 224, 227);
}

