.baground{
    background-image: url("../../img/pokBack6.jpg" );
    background-size: cover;
    background-position: cover;
  
    /* display: flex;  */
    justify-content: space-between;
    
     height: 100%;
   width: 100%;
   background-attachment: fixed
  }

    
    .contain{
        justify-content: space-between;
        margin: 10px;
        display: inline-flex;
        flex-direction: column;
        border: 3px  solid black;
        border-radius: 5px;
    
    }
    
    .info{
        display: flex;
    }