
.fondo{
background-image: url("../../img/pokebola\ abierta.jpg");
background-size: cover;
  background-position: cover; 
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  margin-bottom: -30px;
}
.contain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
   text-decoration: none;
  transition: all 0.3s ease-in-out;
  background-color:rgba(0, 0, 0, 0.062);
  width: 500px;
  margin: auto;
}
.img{
  margin-top: 80px;
  margin-right: 20px;
  padding: 10px;
      align-items: center;
      justify-content: center;
    height: 50%;
    filter: drop-shadow(0px 3px 4px rgb(245, 6, 6))
  }
.name {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
color: rgb(252, 249, 249);
filter: drop-shadow(0px 3px 4px rgb(252, 7, 7))
}
.boton{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: rgb(21, 20, 20); /* color de fondo */
  color: #efeff5; /* color de fuente */
  padding: 10px ;
  border-radius: 20px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  margin-bottom:10px ;
  font-size: 20px;
  width: 30%;
  filter: drop-shadow(0px 3px 4px rgb(239, 21, 21));
  margin-inline: 30px;
}
.boton:hover {
  color: rgb(239, 10, 10);/* color de fuente hover */
}
.boton::after {
  content: "";
  background: #f7f2f2; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}
.boton:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}  
