.contain {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
   /* min-height: 23;
  max-height: 23rem; */
  width: 16rem; 
  justify-content: space-evenly;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  width: 250px;
  margin: 0.5rem;
}

.contain .img {
  max-width: 50%;
}

.name {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 1.7em;
  color: #66625c;
}

.types {
  display: flex;
  justify-content: center;
  gap: 10%;
  font-family: "Rubik", sans-serif;
  font-size: 1em;
}

.types div {
  color: #fff;
  display: flex;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  height: 2rem;
  border-radius: 20px;
}

.contCard:hover {
  transform: scale(1.03);
}

@media screen and (max-width: 600px) {
  .contCard {
    width: 200px;
    height: 300px;
    margin-bottom: 20px;
  }
}



/* .pokemon {
    flex: 0 0 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 2vh;
    margin-top: 2vh;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    transition: all 0.2s;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
    height: 500px;
    height: max-content;
    background-color: rgb(227, 227, 227);
  }
  .dogs:hover {
    box-shadow: -12px 12px 2px -1px rgba(0, 0, 255, 0.2);
  }
  
  .dogs img {
    width: 400px;
    border-radius: 1%;
    border-bottom: 0.5px solid;
  }
  
  .dogs2 {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
  }
  
  .cardDog {
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
    width: 250px;
  } */