
img {
  border-radius: 10px;
    font-size: 10px;
    display: inline ;
   background-color:transparent;
   justify-content:space-between;
   position: relative;
     }

.numeros{
        font-size: 908px;
        display:flex;
      color: red;
       justify-content:space-between;
       margin-left: 10px;
       position: relative;
         }
.container{
display: flex;
justify-content: center;
gap: 10px;

}
.botones{
 gap: 10px;
  display: flex;
  flex-direction: row;
}
     