
.poder{
    color: rgb(83, 73, 73);
    border-radius: 20px;
    background-color: rgb(237, 211, 211);
    margin-right: 50px;
    filter: drop-shadow(0px 3px 4px rgb(232, 20, 20));
    cursor: pointer;
    }
    .poder:hover {
        color: rgb(239, 10, 10);/* color de fuente hover */
      }